@using ACRM.src.Domain.ViewModel.Account
@{
    ViewData["Title"] = "Login";
    Layout = null;
    @model LoginVM;

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="container">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <span class="anchor"></span>

                <div class="card-body">
                    <form class="row justify-content-center" autocomplete="on" method="post">
                        <div class="row g-3 col-lg-4 col-sm-8">
                            @*                             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            *@                            <input asp-for="UserName" autocomplete="username" aria-required="true" class="form-control" id="floatingInput" placeholder="Email">
                            <input asp-for="Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password">
                            <button type="submit" class="btn btn-success">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@