@using ACRM.src.Domain.ViewModel.Admin.Branch
@{
    ViewData["Title"] = "Сотрудники";
}
    @model List<BranchVM>
<a>Добавить ✍</a>
<a asp-area="Admin" asp-controller="Settings" asp-action="AddBranch">Добавить филиал</a>
@if (Model.Count == 0)
{
    <h1 class="text-light text-center py-5">Пока никого нет 😞</h1>
}
else
{
    <ol class="list-group list-group-numbered">
        @foreach (var brn in Model)
        {
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><a>@brn.Name</a></div>
                    @brn.Location 
                </div>
                <span class="badge text-bg-primary rounded-pill">14</span>
            </li>
        }
    </ol>
}