@using ACRM.src.Domain.ViewModel.Admin.Branch
@{
    ViewData["Title"] = "Сотрудники";
}
    @model List<BranchVM>
<a asp-area="Admin" asp-controller="Settings" asp-action="AddBranch">Добавить ✍</a>
@if (Model.Count == 0)
{
    <h1 class="text-center py-5">Пока никого нет 😞</h1>
}
else
{
    @foreach (var branch in Model)
    {
        <a class="card">
            <img src="data:@branch.ImageContentType;base64,@Convert.ToBase64String(branch.ImageData)" class="card-img-top" alt="Image">
            <div class="card-body">
                <h5 class="card-title">@branch.Name</h5>
                <p class="card-text">@branch.Location</p>
            </div>
        </a>
    }
}